
    <div class="w3-col">
      <section class="blog-cat">
        <div class="container">
          <div class="container-less resources-feed-heading">
            <h1 class="in-news" style="color: #089bab;"><b>Webinars</b></h1>
            <p class="lead font-italic" style="color: #089bab;">Revisa nuestros webinars aqui</p>
          </div>
        </div>
      </section>
      <div class="container fa-align-center">
        <iframe src="https://calendar.google.com/calendar/embed?src=c_mef8jsvbhd9hljv7ghctidhpvg%40group.calendar.google.com&ctz=America%2FMonterrey" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
