
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.padding-container {
  width: 100%;
  padding: 15%;
}

.card-titles {
  font-weight: bold;
  text-align: center;
  color: #37b4b6;
}

.content-left {
  text-align: left;
  color: #000000;
}

.title-section-1 {
  font-weight: bold;
  color: #37b4b6;
}

.title-section-2 {
  font-weight: bold;
  color: #37b4b6;
}

.content-section-1 {
  font-size: 18px;
}

.content-section-2 {
}

.content-white {
  font-size: 20px;
  color: #000000;
  z-index: 20;
}

.content-black {
  width: 100%;
  font-size: 20px;
  color: #000000;
  z-index: 20;
}

.div {
  display: block;
  z-index: 20;
}

#h1 {
  position: fixed;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  text-align: center;
  font-size: 40px;
  z-index: 2;
}

#p {
  position: fixed;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  text-align: center;
  font-size: 32px;
  z-index: 2;
}

.column {
  float: left;
  width: 50%;
}

img {
  vertical-align: middle;
  align-self: center;
}

.btn {
  background-color: #37b4b6;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #00cba9;
  color: white;
}



* {
  box-sizing: border-box;
}


