
<div class="w3-light-grey">
  <div class="row" style="padding-top:128px; padding-left:10%; padding-right:10%">
    <div class="col-sm justify-content-start">
      <h1 class="title-section-1">Hacemos bolsa</h1>
      <p class=" content-section-1">Somos un equipo de profesionales altamente especializados en la gestión privada en las bolsas de Nueva York, mercados de deuda privados, ingeniería financiera y fideicomisos.</p>
      <p class="content-section-2">Descarga nuestra app y dale seguimiento a tus instrumentos financieros favoritos o crea una lista 100% personalizada.</p>
      <div style="width:100%;height:55%;padding:5px;">
        <div class="panel panel-default pub-left" id="pub-left" style="background-color:transparent;border:0px">
          <div class="panel-body text-center nano has-scrollbar" style="height:100%" id="panel-indicadores">
            <div class="table-responsive nano-content" tabindex="0" style="right: -17px;">
              <table id="tblIndicadores" class="table table-striped text-responsive" style="background:white">
                <thead>
                  <tr style="  background-color: #02697C;color:white;">
                    <th colspan="5" class="tabla_indicadores text-center">INDICADORES</th>
                  </tr>
                  <tr class="active">
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Precio $</th>
                    <th class="text-center">Cambio</th>
                    <th class="text-center">% cambio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>AAPL</td>
                    <td>$ 123</td>
                    <td style="color:red;">123</td>
                    <td style="color:red;">123</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
              <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption">
                </div>
                  <div class="picsum-img-wrapper">
                    <img [src]="img" alt="{{i + 1}}">
                  </div>
              </ng-template>
            </ngb-carousel>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <a href="https://play.google.com/store/apps/details?id=com.soymkm.bolsa"><img src="assets/images/google-play-logo.png" width="220" height="65" /></a>
      </div>
      <div class="col-12 col-md-auto">
      </div>
      <div class="col col-lg-2">
        <a href="https://play.google.com/store/apps/details?id=com.soymkm.bolsa"><img src="assets/images/app-store-logo.png" width="200" height="65" /></a>
      </div>
    </div>
  </div>
  <div class="w3-container padding-container">
    <h1 class="w3-center title-section-2" style="margin-bottom: 40px;">¿Qué ofrecemos?</h1>
    <div class="card-deck">
      <div class="card shadow bg-white" style="padding-top: 40px; border-radius: 20px">
        <img class="fa" src="assets/images/ic_tecnologia.png" width="73px" height="64px" />
        <div class="card-body ">
          <b><h5 class="card-titles">Soluciones Digitales</h5></b>
          <p class="content-left">Creamos herramientas financieras para nuestros clientes con el proposito de minimizar la interacción humana.</p>
        </div>
      </div>
      <div class="card shadow bg-white" style="padding-top: 40px; border-radius: 20px">
        <img class="fa" src="assets/images/ic_crecimiento.png" width="73px" height="64px" />
        <div class="card-body">
          <b><h5 class="card-titles">Crecimiento Financiero</h5></b>
          <p class="content-left">Nos dedicamos a crecer tu patrimonio minimizando los riesgos que existen en la economía actual.</p>
        </div>
      </div>
      <div class="card shadow bg-white" style="padding-top: 40px; border-radius: 20px">
        <img class="fa" src="assets/images/ic_bolsa.png" width="73px" height="64px" />
        <div class="card-body">
          <b><h5 class="card-titles">Bolsa Privada</h5></b>
          <p class="content-left">Concentramos nuestros esfuerzos a un grupo selecto de clientes.</p>
        </div>
      </div>
      <div class="card shadow bg-white" style="padding-top: 40px; border-radius: 20px">
        <img class="fa" src="assets/images/ic_asesoria.png" width="73px" height="64px" />
        <div class="card-body">
          <b><h5 class="card-titles">Asesoría Financiera</h5></b>
          <p class="content-left">Contamos con los mejores asesores en el sector.</p>
        </div>
      </div>
    </div>
  </div>
</div>
